.tags {
    margin-top: -1em;
}

.tag{
    display: inline-block;
    text-align: center;
    border: 1px solid;
    padding: 0em 0.5em 0em 0.5em;
}

/* TODO map text to different colours? */
/* TODO hide tags list on mobile */

.main-list {
    position: relative;
    margin-left: 140px;
}

.tag-sidebar {
    position:absolute;
    width: 130px;
}

.tag-sidebar .tag {
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 850px) {
  .tag-sidebar{
    display:none;
  }
  .main-list {
    margin-left: 0px;
  }
}