{{ define "main" }}

<h1>About</h1>

{{ with .Site.GetPage "/about" }}
{{ .Summary }}
<!-- <a href="about/">(more)</a> -->
{{ end }}

<!--
<br/>

{{ with .Site.GetPage "/work" }}
    {{ range first 1 (sort .Data.Pages ".Params.endDate" "desc" (where .Pages ".Params.private" "!=" true))}}
        {{ if eq true .Params.current}}
        <h1>Currently Working At</h1>

        <div class="posts-list">
            <div class="post">
                <p>
                    <div class="date">
                        {{ dateFormat "Jan. 2, 2006" .Params.startDate }}
                        to <br>
                        {{ dateFormat "Jan. 2, 2006" .Params.endDate }}
                    </div>    
                    <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                    {{ .Summary }}
                </p>
            </div>    
        </div>
        {{ end }}
    {{ end }}
{{ end }}

<h1>Latest Projects</h1>

<div class="posts-list">
{{ with .Site.GetPage "/projects" }}
    {{ range first 3 (sort .Data.Pages ".Params.startDate" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">
                    {{ dateFormat "Jan. 2, 2006" .Params.startDate }}
                    to <br>
                    {{ if not (eq .Params.endDate "nil") }}
                        {{ dateFormat "Jan. 2, 2006" .Params.endDate }}
                    {{ else }}
                    current
                    {{ end }}
                </div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>
-->

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
</div>
    {{ $morePages := sub (len .Data.Pages) 3}}
    {{ if gt $morePages 0}}
        <a href="/posts"> <b>({{ $morePages }}) more post{{ if gt $morePages 1}}s{{ end }}</b></a>
    {{ end }}
{{ end }}

<h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a class="image-wrapper" href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Fit "400x400" }}
            {{ $thumb := $thumb.Crop "400x400" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive image-in-grid">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}