{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br/>
{{ .Content }}

{{ partial "search.html" }}

<div id="result-container">
    <div id="main-tags" class="tag-sidebar">
        <h2>Tags:</h2>
        <div id="default-tags">
            <!-- loop through all pages, find unique tags -->
            {{ $taglist := slice }} 
            {{ range .Data.Pages }}
                {{ $taglist = uniq ($taglist | append .Params.tags) }}
            {{ end }}
            {{ range $taglist }}
            <a class="tag" onClick="searchByTag()">{{ . }}</a>
            {{ end }}
        </div>
    </div>
    <div class="main-list">
        <!-- TODO: implement some fake pagination -->
        <!-- TODO: show date below article title on mobile, instead of simply hiding-->

        <div id="default-list" class="posts-list">
        {{ range sort .Data.Pages "Date" "desc" }}
            {{ if not .Params.private }}
                <div class="post">
                    <p>
                        <div class="date">{{ .PublishDate.Format "Jan 2, 2006" }}</div>    
                        <h2><a class="post-ref" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
                        {{ .Summary }}
                    </p>
                    <div class="tags">
                        {{ range .Params.tags }}
                            <a class="tag" onClick="searchByTag()"> {{ . }} </a>
                    {{ end }}
                    </div>
                </div>
            {{ end }}
        {{ end }}
        </div>
    </div>
</div>
<!-- include script for lunr-search -->
{{ partial "script.html" . }}

<!-- integrate tags with search -->
<script>
    let form = document.getElementById("search");
    let input = document.getElementById("search-input");

    searchByTag = () => {
        // set the searchbar to the tag
        input.value = event.target.textContent.trim()
        // create submit event (initiate search)
        let submitEvent = new Event('submit', {
            'bubbles'    : true, // Whether the event will bubble up through the DOM or not
            'cancelable' : true  // Whether the event may be canceled or not
        })
        form.dispatchEvent(submitEvent)
    }
</script>

{{ end }}