{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}
<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            <a class="image-wrapper" href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Fit "400x400" }}
                {{ $thumb := $thumb.Crop "400x400" }}
                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive image-in-grid">
            {{end}}
            </a>
        {{ end }}
    {{ end }}
</div>
<!--TODO: better scale the images on mobile. Maybe do 250*250 or something-->
{{ end }}